<% include partials/header %> 
<p><%=campgrounds.name%></p>
<p><img src="<%=campgrounds.image%>"></p>
<p><%=campgrounds.description%></p>
<% campgrounds.comments.forEach(function(comment){%>
<p>
    <strong><%=comment.author%></strong>-<%=comment.text%>
</p>
    
<% })%>
<% include partials/footer %>